*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
}
.card{
  display: flex;
  width: 1200px;
  height: 900px;
}
.img-perfume{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.infos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 600px;
}
.titulo-perfume{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  opacity: 50%;
  letter-spacing: 7px;  
  font-size:28px
}
.nome-perfume{
  font-family:'Fraunces', serif;
  font-size: 70px;
  max-width: 480px;
  line-height: 70px;
}
.descricao-perfume{
  font-family: 'Montserrat', sans-serif;
  opacity: 60%;
  max-width: 500px;
  font-size: 30px;
  line-height: 37px;
}
.preco{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 410px;
}
.preco-novo{
  font-family:'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  font-size: 70px;
}
.preco-velho{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  opacity: 50%;
  text-decoration: line-through;
  font-size: 25px;
}
.btn{
  color: #ffffff;
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 90px;
  width: 470px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 27px;
}
.icone-carrinho{
  margin-right: 15px;
  width: 26px;
  height: 27px;
}